.postBox{
    padding: 2vh;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgba(217, 217, 217, 0.448);
    display: grid;
    justify-content: center;
}


.boxUserPost{
    display: flex;
    justify-content: space-between;
    border-radius: 0;
}

.boxUserPostLoading{
    height: 7vh;
    width: 100%;
}

.boxUserPostLoading > .userPost{
    height: 7vh;
    width: 100%;
}

.userPost{
    display: flex;
}

.userPost img, .userPost div{
    padding: 2vh;
}

.userPost img{
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
}

.nameEmail{
    display: grid;
    padding: 0 1em;
}

.name{
    font-size: 2vh;
    font-weight: bolder;
}

.email{
    color: rgba(0, 0, 0, 0.43);
    font-size: 1.4vh;
}

.logUser{
    text-decoration: underline;
}

.boxDeletePost{
    display: flex;
    align-items: center;
    border-radius: 0;background: transparent;
}

.buttonDeletePost{
    height: 50%;
    z-index: 99;
    padding: 1vh;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.buttonDeletePost:hover{
    background: rgb(215, 215, 215);
}

.deletePost{
    cursor: pointer;
    margin-right: 4vh;
    transform: rotate(90deg);
}

.loadDeletePost{
    display: flex;
    align-items: center;
}

.contentPost{
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.253);
}

.contentPostLoading{
    height: 30vh;
}

.contentPost img{
    text-align: center;
    width: 100%;
    padding-bottom: 3%;
}

.contentPost p{
    width: 100%;
    padding: 6%;
    display: flex;
    align-items: center;
}

.LikeComment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.LikeCommentLoading{
    height: 5vh;
}

.LikeComment button{
    width: 15vh;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.like, .likeDesactive{
    display: flex;
    padding: 1vh 5vh;
}

.like:hover{
    background: rgb(215, 215, 215);
}

.likeActive{
    color: rgb(20, 84, 157);
    display: flex;
    padding: 1vh 5vh;
}

.likeActive:hover{
    background: rgb(215, 215, 215);
}

@media (prefers-color-scheme: dark) {

    .email{
        color: rgba(255, 255, 255, 0.453);
    }

    .like, .likeDesactive{
        color: white;
    }

    .like:hover, .buttonDeletePost:hover{
        background: #393939;
    }

    .likeActive{
        color: #f14040;
    }

    .likeActive:hover{
        background: #393939;
    }

    .likeComment button{
        border: 1px solid rgba(128, 128, 128, 0.712);
    }

}

@media screen and (max-width:1000px){
    
    .postBox{
        display: block;
        padding: 0;
    }

    .contentPost{
        width: 100%;
        font-size: 1.8vh;
    }

    .LikeComment{
        padding: 1vh;
    }

    .buttonComment{
        padding: 1vh;
    }

    .like, .likeActive, .buttonComment{
        font-size: 1.6vh;
    }
    
}