.home{
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav nav nav nav nav nav"
    "newPost newPost newPost newPost newPost newPost users"
    "posts posts posts posts posts posts users";
    column-gap: 3vh;
}