.home{
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav nav nav nav"
    "newPost newPost newPost users users"
    "posts posts posts users users";
    column-gap: 3vh;
}