.posts{
    height: 29em;
    width: 50em;
    padding: 1em;
    margin: 1em;
    overflow-y: scroll; 
}

.postBox{
    margin-bottom: 5rem;
}

.userPost{
    display: flex;
}

.userPost img, .userPost div{
    padding: 2vh;
}

.userPost img{
    width: 3em;
    height: 3em;
}

.nameEmail{
    padding: 0em 1em;
}

.contentPost{
    padding: 3rem;
    margin: 3vh 0;
    border: 1px solid rgba(128, 128, 128, 0.253);
}