.postBox{
    margin-bottom: 3rem;
    border-bottom: 1px solid rgba(217, 217, 217, 0.448);
}

.userPost{
    display: flex;
}

.userPost img, .userPost div{
    padding: 2vh;
}

.userPost img{
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
}

.nameEmail{
    display: grid;
    padding: 0em 1em;
}

.name{
    font-size: 2vh;
    font-weight: bolder;
}

.email{
    color: rgba(0, 0, 0, 0.43);
    font-size: 1.4vh;
}

.contentPost{
    border: 1px solid rgba(128, 128, 128, 0.253);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5vh;
}

.contentPost img{
    text-align: center;
    width: 45vh;
}

.contentPost p{
    padding: 7vh 3vh;
}

.LikeComment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.LikeComment button{
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.like, .likeDesactive{
    display: flex;
    padding: 1vh 5vh;
}

.like:hover{
    background: rgb(215, 215, 215);
}

.likeActive{
    color: rgb(20, 84, 157);
    display: flex;
    padding: 1vh 5vh;
}

.likeActive:hover{
    background: rgb(215, 215, 215);
}

@media (prefers-color-scheme: dark) {

    .email{
        color: rgba(255, 255, 255, 0.453);
    }

    .like, .likeDesactive{
        color: white;
    }

    .like:hover{
        background: #393939;
    }
    
    .likeActive{
        color: #f14040;
    }

    .likeActive:hover{
        background: #393939;
    }

    .likeComment button{
        border: 1px solid rgba(128, 128, 128, 0.712);
    }

}

@media screen and (max-width:800px){

    .contentPost{
        padding: 3vh;
        font-size: 1.8vh;
        display: flex;
    }

    .contentPost p{
        text-align: center;
        padding: 0;
    }

    .LikeComment{
        display: grid;
        row-gap: 1vh;
    }

    .buttonComment{
        padding: 1vh;
    }

    .like, .likeActive, .buttonComment{
        font-size: 1.6vh;
    }
}