.noContent{
    grid-area: posts;
    height: 100%;
    width: 100%;
    padding: 3vh;
    text-align: center;
}

.posts{
    grid-area: posts;
}

.postsLoad{
    grid-area: posts;
    height: 60vh;
}

.postsLoading, .postsLoading div{
    width: 100%;
    height: 70%;
}

@media (prefers-color-scheme: dark) {
    .posts div{
        color: white;
    }
    .noContent{
        color: white;
    }
}

@media screen and (max-width:800px){
    .posts{
        height: max-content;
    }
}