.postBox{
    margin-bottom: 3rem;
    border-bottom: 1px solid rgba(217, 217, 217, 0.448);
}

.userPost{
    display: flex;
}

.userPost img, .userPost div{
    padding: 2vh;
}

.userPost img{
    width: 10vh;
    height: 10vh;
}

.nameEmail{
    display: grid;
    padding: 0em 1em;
}

.name{
    font-size: 2vh;
    font-weight: bolder;
}

.email{
    color: rgba(0, 0, 0, 0.43);
    font-size: 1.4vh;
}

.contentPost{
    padding: 2rem 8rem;
    margin: 3vh 0;
    border: 1px solid rgba(128, 128, 128, 0.253);
}

.LikeComment{
    display: flex;
    justify-content: space-around;
}

.like{
    color: black;
    display: flex;
    padding: 1vh 5vh;
}

.like:hover{
    background: rgb(215, 215, 215);
}

.likeActive{
    color: rgb(20, 84, 157);
    display: flex;
    padding: 1vh 5vh;
}

.likeActive:hover{
    background: rgb(215, 215, 215);
}

.LikeComment button{
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {

    .email{
        color: rgba(255, 255, 255, 0.453);
    }

    .like{
        color: white;
    }

    .like:hover{
        background: #393939;
    }
    
    .likeActive{
        color: #f14040;
    }

    .likeActive:hover{
        background: #393939;
    }

}