.profile{
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav nav nav nav"
    "userProfile postsUser postsUser postsUser postsUser"
    "userProfile postsUser postsUser postsUser postsUser";
    column-gap: 3vh;
    border-radius: 0;
}

.profileUser{
    grid-area: userProfile;
    height: 86vh;
    position: -webkit-sticky;
    position: sticky;
    top: 13.2vh;
    text-align: center;
    margin-left: 2vh;
    align-items: center;
}

.profileUser img{
    width: 70%;
    margin: 25% 5%;
}

.profileUser h2{
    margin: 3vh;
}

.profileUser p{
    margin: 3vh;
}

.postsUser{
    grid-area: postsUser;
}

@media (prefers-color-scheme: dark) {
    .profileUser{
        border: 1px solid rgba(128, 128, 128, 0.253);
    }

    .profile h2{
        color: white;
    }
}

@media screen and (max-width:800px){
    .profile{
        grid-template-areas: 
        "nav"
        "userProfile"
        "postsUser";
    }

    .profileUser{
        position: static;
        height: max-content;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5%;
        margin: 0;
        border-radius: 0;
    }

    .profileUser img{
        width: 10vh;
    }

}