.profileLoad{
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.profile{
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav nav nav nav"
    "userProfile postsUser postsUser postsUser postsUser"
    "userProfile postsUser postsUser postsUser postsUser";
    column-gap: 3vh;
    border-radius: 0;
}

.profileUser{
    grid-area: userProfile;
    height: 84vh;
    position: -webkit-sticky;
    position: sticky;
    top: 15vh;
    text-align: center;
    margin-left: 2vh;
    align-items: center;
}

.profileUser img{
    width: 30vh;
    padding: 5vh;
}

.profileUser h2, .profileUser p{
    padding: 2vh;
}

.postsUser{
    grid-area: postsUser;
}

@media (prefers-color-scheme: dark) {
    .profileUser{
        border: 1px solid rgba(128, 128, 128, 0.253);
    }

    .profile h2{
        color: white;
    }
}

@media screen and (max-width:1000px){
    .profile{
        grid-template-areas: 
        "nav"
        "userProfile"
        "postsUser";
    }

    .profileUser{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: static;
        height: max-content;
        margin: 0;
        border-radius: 0;
    }

    .profileUser h2, .profileUser p{
        font-size: 2vh;
    }

}