.profile{
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav nav nav nav"
    "userProfile postsUser postsUser postsUser postsUser"
    "userProfile postsUser postsUser postsUser postsUser";
    column-gap: 3vh;
    border-radius: 0;
}

.profileUser{
    grid-area: userProfile;
    text-align: center;
    margin-left: 2vh;
}

.profileUser img{
    width: 40vh;
    margin: 5vh;
}

.profileUser h2{
    margin: 3vh;
}

.profileUser p{
    margin: 3vh;
}

.postsUser{
    grid-area: postsUser;
}

@media (prefers-color-scheme: dark) {
    .profileUser{
        border: 1px solid rgba(128, 128, 128, 0.253);
    }

    .profile h2{
        color: white;
    }
}