.toPost{
    padding: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
}

.toPost h1{
    text-align: center;
    padding: 3vh;
    font-size: 5vh;
    line-height: 100%;
}

.toPost form{
    width: 100%;
    display: grid;
}

.photoFile{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.file{
    background-color: azure;
    font-size: 2.5vh;
    padding: 2vh 3vh;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 8px;
}

.file:hover{
    background-color: #646cff;
}

.file input{
    display: none;
}

.toPost form textarea{
    width: 100%;
    font-size: 2vh;
    padding: 1.5vh;
    border-radius: 1vh;
}

.imageToPost{
    text-align: center;
}

.imageToPost img{
    max-width: 60vh;
    width: 100%;
    padding: 3% 0;
}

.toPost form button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 2vh 3vh;
    font-weight: 500;
    font-size: 2.5vh;
    font-family: inherit;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.25s;
}
  
.toPost form button:hover {
    background-color: #646cff;
}
.toPost form button:focus,
.toPost form button:focus-visible {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    
    .toPost{
        border: 1px solid rgba(128, 128, 128, 0.253);
    }

    .toPost h1, .file{
        color: white;
    }

    .toPost form button, .file{
        background-color: #1a1a1a;
    }

    .toPost form button:hover, .file:hover{
        background-color: #cf3939;
    }
    .toPost form button:focus,
    button:focus-visible {
        outline: none;
    }
}

@media screen and (max-width:800px){

    .toPost{
        margin: 0;
        border-radius: 0;
    }

    .imageToPost img{
        max-width: 100%;
        padding: 1%;
    }

}