.postsUserLoad{
    grid-area: userPosts;
    height: 50vh;
    margin-right: 2vh;
}

.postsUserLoading, .postsUserLoading div{
    width: 100%;
    height: 70%;
}

.userPosts{
    grid-area: userPosts;
    margin-right: 2vh;
}

.anotherUserPosts{
    grid-area: userPosts;
}

.userPosts h1{
    padding: 10vh;
}

.anotherUserPosts h1{
    padding: 10vh;  
}

@media (prefers-color-scheme: dark) {
    
    .userPosts{
        border: 1px solid rgba(128, 128, 128, 0.253);
    }

    .userPosts h1, .anotherUserPosts h1{
        color: white;
    }

}

@media screen and (max-width:1000px){
    .userPosts, .anotherUserPosts{
        margin: 0;
        border-radius: 0;
        height: max-content;
    }

    .postsUserLoad, .postsUserLoading div{
        margin: 0;
        border-radius: 0;
    }
}