.userPosts{
    grid-area: userPosts;
    height: 48vh;
    overflow-y: scroll;
    overflow: overlay;
    margin-right: 2vh;
}

.anotherUserPosts{
    grid-area: userPosts;
    height: 80vh;   
    overflow-y: scroll;
    overflow: overlay;
}

.userPosts h1{
    padding: 10vh;
}

.anotherUserPosts h1{
    padding: 10vh;  
}

@media (prefers-color-scheme: dark) {
    
    .userPosts{
        border: 1px solid rgba(128, 128, 128, 0.253);
    }

    .userPosts h1, .anotherUserPosts h1{
        color: white;
    }
}