:root {
  font-family: 'Arvo', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(26, 25, 25, 0.87);
  background-color: hsl(0, 0%, 100%); 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

div{
  background-color: hsla(0, 0%, 30%, 0.05);
  border-radius: 2em;
}

a {
  font-weight: bolder;
  color: rgb(40, 40, 40);
}
a:hover {
  color: #646cff;
}

img{
  border-radius: 50%;
}

body {
  display: flex;
  place-items: center;
} 

.loading, .error{
  color: black;
  padding: 5vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #262f38;
    background-color: hsl(0, 0%, 14%); 
  }
  div{
    background-color: hsla(0, 0%, 30%, 0.05);
    border-radius: 2em;
  }
  p{
    color: white;
  }
  a{
    color: white;
  }
  a:hover {
    color: #f14040;
  }
  a p:hover{
    color: #f14040;
  }
  button {
    background-color: #1a1a1a;
  }
  .loading, .error{
    color: white;
  }
}
